\.vscode/
*.pyc
/datasets
/StarGAN/stargan
/music-genre-classification/saved_models
/music-genre-classification/data-files
/music-genre-classification/df_features.csv
/music-genre-classification/NSynth_three_vgg
/music-genre-classification/IRMAS_three_vgg
/music-genre-classification/three_genres_vgg
/dataconversion/output/spectrograms
/dataconversion/output/dummydata
